body {
  font-family: Arial, sans-serif;
}

.header_img {
  width: 20%;
  display: flex;
}
.imglink:hover {
  background-color: #ffffff;
}
.email_title {
  font-family: Verdana;
}

.btn {
  background-color: hsl(183, 61%, 21%);
  border-radius: 1rem;
  border-color: hsl(183, 61%, 21%);
}
.btn:hover {
  background-color: #fff;
  color: hsl(183, 61%, 21%);
  border-color: #fff;
}
.tel_title {
  text-align: center;
  font-family: Verdana;
}
.tel {
  text-align: center;
}
.email {
  text-align: center;
}
.tel_logo {
  width: 4%;
  text-align: center;
  margin: 1rem;
}
.email_logo {
  width: 4%;
  text-align: center; 
  margin: 1rem;
}

.header_title {
  font-family: Georgia;
  font-size:x-large;
  color: hsl(183, 61%, 21%);
  border-bottom: 1rem;
  text-align: center  ;
}

.navigation {
  background-color: hsl(183, 61%, 21%);
  padding: 1rem 1rem;
  text-align: center;
  border-bottom: 1rem;
  justify-content: center;
}
.textmoi {
  font-family: Verdana;
  font-size: 14;
  text-align: left;
  margin: 3rem;
}
.text {
  text-align: center;
  padding: 1rem;
}

.textmotivation {
  font-family: Verdana;
  font-size: 15;
  text-align: left;
  margin: 3rem;
}

.caption {
  text-align: center;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0rem 1rem ;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0rem 1rem  ;
}

a:hover {
  background-color: #edebeb;
  border-radius: 1em;
  color: hsl(183, 61%, 21%);
}


main {
  padding: 5rem;
}

.footer {
  background-color: hsl(184, 63%, 16%);
  color: #fff;
  padding: 2rem;
  text-align: center;
}
